.container{

  display:flex;
  flex-direction: column;
  
}

/* .img_card{
   width: 400px; 
  height: 355px; 
} */

.display_card{

  margin-top: 40px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  


}
agm-map{
  align-self: center;
  height:200px;
  width: 200px;
}


/* .img_card{
  width: 300px;
  height: 300px;
} */
.ccard{

  /* width: 15vw;
  height: 20vh; */
  width: 400px; 
  /* height: 355px;  */
  border: 1px solid black;
  color: white;

}